<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media start-->
      <section class="mb-4">
        <!-- Homepage -->
        <a class="btn btn-outline-light btn-floating m-1" href="http://sinno.soict.ai" role="button" target="_blank">
          <i class="fas fa-home"></i></a>
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SINNOclub" role="button"
          target="_blank"><i class="fab fa-facebook-f"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SOICTInnovationClub" role="button"
          target="_blank"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media end-->
  
      <!-- Section: Text start-->
      <section class="mb-4">
        <p>
          Designed and made by SoICT Innovation Club, Hanoi University of Science and Technology.
          <br>
          Author: <a href="https://www.facebook.com/shinya.Ft" target="_blank">Hoang Dang Tuan Dat</a>
          <br>
          <a href="https://www.facebook.com/lehahung2000" target="_blank">Le Ha Hung</a>
          <br>
          <a href="https://www.facebook.com/itKhaiND.Dev" target="_blank">Nguyen Duy Khai</a>
        </p>
      </section>
      <!-- Section: Text end-->
    </div>
    <!-- Copyright start-->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://sinno.soict.ai">SoICT Innovation Club</a>
    </div>
    <!-- Copyright end-->
  </footer>
  <!-- Footer -->