<div class="page-wrapper toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-menu">
          <ul>
            <!-- <li class="header-menu">
              <span>General</span>
            </li> -->
            <li class="sidebar-dropdown">
              <a href="#">
                <span>Home Device</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Device 1</a>
                  </li>
                  <li>
                    <a href="#">Device 2</a>
                  </li>
                  <li>
                    <a href="#">Device 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <span>Work Device</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Device 1</a>
                  </li>
                  <li>
                    <a href="#">Device 2</a>
                  </li>
                  <li>
                    <a href="#">Device 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-settings">
                <a href="#">
                  <i class="fa-solid fa-gear"></i>
                  <span>Settings</span>
                </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
    </nav>
    <!-- sidebar-wrapper  -->
    <!-- page-content" -->
  </div>
