// .container{
//     background-image: url(/src/background.png);
// }
// *{
//     background-image: url("../assets/background.png");
// }
.content{
    display: flex;
    width: auto;
    height: 960px;
    background-image: url(../assets/background.png);
}
.sidebar{
    background-color: #220b53;
    width: 22%;
    opacity: 51%;
    font-size: large;
    border-radius: 10px;
}
.main{
    width: 78%;
}
